<footer>
    <div id="mc_embed_signup" class="col-12 footer" style="max-width: 450px; margin:0 auto; text-align: center;">
        <form action="https://engineering.us1.list-manage.com/subscribe/post?u=5f848806173a70afaa8c36596&amp;id=2d7909b76f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <style type="text/css">
                .button {
                    display: block;
                    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: .75em;
                    letter-spacing: 1px;
                    height: 38px;
                    width: 100%;
                    line-height: 38px;
                    overflow: hidden;
                    background: #4dbecf;
                    border-radius: 3px;
                    box-shadow: 0 15px 30px rgba(black,.1);
                    border: 0;
                    cursor: pointer;
                    transition: all .3s ease;
                    margin: 0.5rem;
                };
            </style>
            <div id="mc_embed_signup_scroll">
            <h3>System Design Weekly</h3>
        <div class="mc-field-group">
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email address"
            style="width:100%; margin: 0.5rem; border-radius: 3px; border:0; height:36px; padding:.75rem 1rem; background:hsl(0,0%,93%)">
        </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5f848806173a70afaa8c36596_2d7909b76f" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>
    <div class="container-lg clearfix">
        <div class="col-12 footer">
            {{ if .Site.Params.showLicenseInFooter }}
            <p>
                {{ i18n "postCopyrightFront" }}<a rel="license" href="{{ .Site.Params.licenseLink }}" target="_blank">{{ .Site.Params.license }}</a>{{ i18n "postCopyrightEnd" }}
            </p>
            {{ end }}
            <span>&copy; {{ with .Site.Params.copyrightStartYear }}{{ . }}-{{ end }}{{ now.Format "2006" }}
                <a href="{{ .Site.BaseURL }}">{{ .Site.Params.author }}</a>
                {{ with .Site.Params.sourceURL }} | <a href="{{ . }}">Source code</a> {{ end }}
                | {{ i18n "footerPoweredFront" }}<a href="https://github.com/dsrkafuu/hugo-theme-fuji/"
                   target="_blank">Fuji-v2</a> &amp; <a href="https://gohugo.io/"
                                                    target="_blank">Hugo</a>{{ i18n "footerPoweredEnd" }}
            </span>
        </div>
    </div>
</footer>
