<header>
    <div class="container-lg" style="display:block">
        <a href="https://stand-with-ukraine.pp.ua">
            <img src="https://raw.githubusercontent.com/vshymanskyy/StandWithUkraine/main/banner-direct-single.svg">
        </a>
    </div>
    <div class="container-lg clearfix">
        <div class="col-12 header">
            <a class="title-main" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
            {{ with .Site.Params.subTitle }}
            <span class="title-sub">{{ . }}</span>
            {{ end }}
        </div>
    </div>
</header>