<aside class="col-12 col-md-3 float-left sidebar">
    <!-- pages -->
    <div class="sidebar-item sidebar-subscribe">
        <!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
    <form action="https://engineering.us1.list-manage.com/subscribe/post?u=5f848806173a70afaa8c36596&amp;id=2d7909b76f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <style type="text/css">
            .button {
                display: block;
                font-family: 'Open Sans', Helvetica, Arial, sans-serif;
                font-weight: 600;
                text-transform: uppercase;
                font-size: .75em;
                letter-spacing: 1px;
                height: 38px;
                width: 100%;
                line-height: 38px;
                overflow: hidden;
                background: #4dbecf;
                border-radius: 3px;
                box-shadow: 0 15px 30px rgba(black,.1);
                border: 0;
                cursor: pointer;
                transition: all .3s ease;
                margin: 0.5rem;
            };
        </style>
        <div id="mc_embed_signup_scroll">
        <h3>System Design Weekly</h3>
    <div class="mc-field-group">
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email address"
        style="width:100%; margin: 0.5rem; border-radius: 3px; border:0; height:36px; padding:.75rem 1rem; background:hsl(0,0%,93%)">
    </div>
        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5f848806173a70afaa8c36596_2d7909b76f" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div>
    
    <!--End mc_embed_signup-->
    </div>
    <div class="sidebar-item sidebar-pages">
        <h3>{{ i18n "sidebarPages" }}</h3>
        <ul>
            {{ range .Site.Menus.nav }}
            <li>
                <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
    <!-- links -->
    <div class="sidebar-item sidebar-links">
        <h3>{{ i18n "sidebarLinks" }}</h3>
        <ul>
            {{ range .Site.Menus.link }}
            <li>
                <a href="{{ .URL }}" target="_blank"><span>{{ .Name }}</span></a>
            </li>
            {{ end }}
        </ul>
    </div>
    <!-- tags -->
    <div class="sidebar-item sidebar-tags">
        <h3>{{ i18n "sidebarTags" }}</h3>
        <div>
            {{ range .Site.Taxonomies.tags }}
            <span>
                <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
            </span>
            {{ end }}
        </div>
    </div>
    <!-- in-post toc -->
    {{- if .IsPage -}}
    {{- $pageShowToc := .Params.showToc -}}
    {{- $siteShowToc := .Site.Params.showToc -}}
    {{- if or ($pageShowToc) (and (ne $pageShowToc false) (ne $siteShowToc false)) -}}
    <div class="sidebar-item sidebar-toc">
        <h3>{{ i18n "sidebarToc" }}</h3>
        {{- .TableOfContents -}}
    </div>
    {{- end -}}
    {{ else }}
    {{ with .Site.Params.bgmImageChart }}
    <!-- bgm.tv image chart -->
    <div class="sidebar-item sidebar-bgm">
        <h3>{{ i18n "sidebarBangumiChart" }}</h3>
        <img class="lazyload" src="{{ $.Site.Params.lazyPlaceholder | relURL }}"
             data-src="https://bgm.tv/chart/img/{{ . }}" alt="Bangumi 图像榜单" />
    </div>
    {{ end }}
    {{ end }}
</aside>